name: Sanity Check

on:
  push:
    branches:
      - main

jobs:
  sanity:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "GitHub Actions runner started successfully"
